---
layout: default
images:
    - natco.jpg
    - peco.jpg
    - cover_1.jpg
---

{% comment %}
currently working on this tutorial:
https://www.zachleat.com/web/eleventy-tutorial-level-2/
most of the site comes from this tutorial:
https://stevepolito.design/blog/create-a-bootstrap-starter-theme-in-eleventy/
{% endcomment %}

<nav class="nav justify-content-center align-items-center">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="#top">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT BRYTEX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#services">SERVICES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#products">PRODUCTS</a>
        </li>
    </ul>
    <a class="navbar-brand me-0" aria-current="page" href="">
        <img src="{{ site.logo }}" alt="Brytex Logo">
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="#colours">COLOUR CHART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#gallery">PHOTO GALLERY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
        </li>
    </ul>
</nav>

<div id="buildingCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {%- for _ in images %}
        <button type="button" data-bs-target="#buildingCarousel"
            data-bs-slide-to="{{ forloop.index0 }}"
        {%- if forloop.first == true %}
            class="active" aria-current="true"
        {%- endif %}
            aria-label="Slide{{forloop.index}}"
        ></button>
    {% endfor %}
    </div>

    <div class="carousel-inner">
    {%- for i in images %}
        {%- capture path %}img/{{ i }}{% endcapture %}
        {%- if forloop.first == true -%}
        <div class="carousel-item active">
        {%- else -%}
        <div class="carousel-item">
        {%- endif %}
        <img src="{{ path }}" alt="{{ i }}">
        </div>
    {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button"
        data-bs-target="#buildingCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
        data-bs-target="#buildingCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section id="about">
    <div class="content">
        {% renderFile "./_includes/sections/about.md" %}
    </div>
</section>

<section id="services"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2015/06/P0001965.jpg');">
    <div class="wrap-cont wrap-green">
        <div class="content">
            {% renderFile "./_includes/sections/services.md" %}
        <div/>
    <div/>
</section>

<section id="products">
    <div class="content">
        {% renderFile "./_includes/sections/products.md" %}
    </div>
</section>

<section id="colours"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2015/10/P0001960-square.jpg');">
    <div class="wrap-cont wrap-dark">
        <div class="content">
            {% render "./_includes/sections/colours.liquid", colours: colours %}
        <div/>
    <div/>
</section>

<section id="gallery">
    <div class="content">
        <h1>PHOTO GALLERY</h1>
    </div>
</section>

<section id="contact"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2016/01/Cover13-1024x732.jpg');">
    <div class="wrap-cont wrap-dark">
        <div class="content">
            <p>
                Morbius faucibus finibus mauris, in ultrices elit lobortis at.
                Maecenas vel justo at nisi dictum luctus id eu erat. Nulla vel
                ex dui. Integer auctor tincidunt metus, vitae dictum magna
                scelerisque at. Morbius gravida metus et lacus suscipit, nec
                posuere sapien eleifend. Phasellus iaculis turpis et risus
                varius, in egestas odio molestie. Suspendisse in arcu vitae
                augue condimentum venenatis at posuere metus. Nunc ullamcorper
                libero ultricies, imperdiet est sed, vestibulum turpis. Fusce
                eu risus sit amet mi interdum egestas at ut justo. Nulla varius
                ante nec lacus tincidunt elementum. Duis at semper lorem.
                Integer pharetra sem vitae finibus ullamcorper. Curabitur
                rutrum dolor sit amet lacus iaculis, eget sodales mi dapibus.
                Duis rutrum elit at augue molestie, malesuada vestibulum augue
                pulvinar. Etiam pulvinar, turpis eget imperdiet vehicula, quam
                mauris hendrerit massa, vel viverra leo velit eu purus.
            </p>
        <div/>
    <div/>
</section>

<div id="finisher"></div>
