---
layout: default
images:
    - natco.jpg
    - peco.jpg
    - cover_1.jpg
---

<nav id="navigation" class="nav justify-content-center align-items-center">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item" aria-current="true">
            <a class="nav-link active" href="#buildingCarousel">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT BRYTEX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#services">SERVICES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#products">PRODUCTS</a>
        </li>
    </ul>
    <a class="navbar-brand" aria-current="page" href="">
        <img src="{{ site.logo }}" alt="Brytex Logo" style="opacity: 0;">
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="#colours">COLOUR CHART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#gallery">PHOTO GALLERY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
        </li>
    </ul>
</nav>

<div id="buildingCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {%- for _ in images %}
        <button type="button" data-bs-target="#buildingCarousel"
            data-bs-slide-to="{{ forloop.index0 }}"
        {%- if forloop.first == true %}
            class="active" aria-current="true"
        {%- endif %}
            aria-label="Slide{{forloop.index}}"
        ></button>
    {% endfor %}
    </div>

    <div class="carousel-inner">
    {%- for i in images %}
        {%- capture path %}img/{{ i }}{% endcapture %}
        {%- if forloop.first == true -%}
        <div class="carousel-item active">
        {%- else -%}
        <div class="carousel-item">
        {%- endif %}
        <img src="{{ path }}" alt="{{ i }}">
        </div>
    {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button"
        data-bs-target="#buildingCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
        data-bs-target="#buildingCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section id="about">
    <div class="content">
        {% renderFile "./_includes/sections/about.md" %}
    </div>
</section>

<section id="services"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2015/06/P0001965.jpg');">
    <div class="wrap-cont wrap-green">
        <div class="content">
            {% renderFile "./_includes/sections/services.md" %}
        <div/>
    <div/>
</section>

<section id="products">
    <div class="content">
        {% renderFile "./_includes/sections/products.md" %}
    </div>
</section>

<section id="colours"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2015/10/P0001960-square.jpg');">
    <div class="wrap-cont wrap-dark">
        <div class="content">
            {% render "./_includes/sections/colours.liquid", colours: colours %}
        <div/>
    <div/>
</section>

<section id="gallery" class="flex-column">
    <div class="content pb-0">
        <h1>PHOTO GALLERY</h1>
    </div>

    {% render "./_includes/sections/gallery.liquid", sec_link: "#gallery" %}
</section>

<section id="contact"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2016/01/Cover13-1024x732.jpg');">
    <div class="wrap-cont wrap-dark d-flex flex-column">
        {% render "./_includes/sections/contact.liquid" %}
    <div/>
</section>

<div id="finisher"></div>
