---
layout: default
title: Brytex Building Systems
images:
    - natco.jpg
---

{% comment %}
currently working on this tutorial:
https://www.zachleat.com/web/eleventy-tutorial-level-2/
most of the site comes from this tutorial:
https://stevepolito.design/blog/create-a-bootstrap-starter-theme-in-eleventy/
{% endcomment %}

<div id="buildingCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {%- for _ in images %}
        <button type="button" data-bs-target="#buildingCarousel"
            data-bs-slide-to="{{ forloop.index0 }}"
        {%- if forloop.first == true %}
            class="active" aria-current="true"
        {%- endif %}
            aria-label="Slide{{forloop.index}}"
        ></button>
    {% endfor %}
    </div>

    <div class="carousel-inner">
    {%- for i in images %}
        {%- capture path %}img/{{ i }}{% endcapture %}
        {%- if forloop.first == true -%}
        <div class="carousel-item active">
        {%- else -%}
        <div class="carousel-item">
        {%- endif %}
        <img src="{{ path }}" alt="{{ i }}">
        </div>
    {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button"
        data-bs-target="#buildingCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
        data-bs-target="#buildingCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
