<div class="pe-none user-select-none row row-cols-1 row-cols-md-2
            row-cols-lg-3 row-cols-xl-4 w-100" data-bs-toggle="modal"
     data-bs-target="#galleryModal">
{%- for b in gallery.buildingList %}
    <div class="galleryItem slidein pe-auto col p-0 cur-pointer
                position-relative d-flex flex-column align-items-center
                overflow-hidden"
         data-bs-target="#galleryCarousel"
         data-bs-slide-to="{{ forloop.index0 }}" tabindex="0"
         aria-label="{{ b.buildingType }} # {{- b.buildingIndex -}}">
        <div style="background-image: url({{- gallery.baseUrl -}}
                    {{- b.buildingType | remove: " " -}}
                    _
                    {{- b.buildingIndex -}}
                    .jpg);"
             class="itemImg d-block w-100 h-100 pt-3t4">
        </div>

        <div class="projectInfo">{{ b.buildingType | upcase }}</div>
    </div>
{%- endfor %}
</div>

<div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                <div id="galleryCarousel" class="carousel slide"
                     data-bs-interval="false" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    {%- for b in gallery.buildingList %}
                        <div class="carousel-item position-relative
                                    {%- if forloop.first == true %} active
                                    {%- endif -%}">
                            <img class="d-block w-100"
                                 src="{{- gallery.baseUrl -}}
                                      {{- b.buildingType | remove: " " -}}
                                      _
                                      {{- b.buildingIndex -}}
                                      .jpg"/>
                            <p class="bg-white text-secondary bottom-0 left-0
                                      fst-italic fw-bold mb-0 mt-1">
                                {{ b.buildingType }}
                            </p>
                        </div>
                    {%- endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#galleryCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#galleryCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
