<div class="galleryGrid">
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/SelfFramingBuildings_2.jpg"/>
        <div class="projectInfo">SELF FRAMING BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/SelfFramingBuildings_1.jpg"/>
        <div class="projectInfo">SELF FRAMING BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_9.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_8.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_7.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_6.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_4.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_3.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_2.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_1.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/RigidFrameBuildings_5.jpg"/>
        <div class="projectInfo">RIGID FRAME BUILDINGS</div>
    </a>
    <a class="galleryItem slidein" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/ModularBuildings_5.jpg"/>
        <div class="projectInfo">MODULAR BUILDINGS</div>
    </a>
</div>
